.mainHero-container {
    height: 100%;
    min-height: 150vh;
    /* width: 100%; */
    padding: 10px 100px;
    background-color: cornsilk;
    position: relative;
    transition: 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-image-wrapper {
    position: relative;
    width: 100%;
    height: 650px;
    border-radius: 16px;
    overflow: hidden;
}

.main-hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-hero-recipe-container {
    position: absolute;
    inset: 0;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: justify;
}

.page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}


.main-hero-recipe-container h1 {
    font-size: 2.8rem;
    color: #ff4141;
    font-weight: 700;
    transition: 0.3s ease;
}

.hero-hint {
  opacity: 0.8;
  font-size: 0.9rem;
  margin-bottom: 10px;
}


.recipe-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.recipe-meta {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 10px;
}

.recipe-description {
    font-size: 1.1rem;
    max-width: 500px;
    line-height: 1.5;
}

.ingredients-box {
    margin-top: 14px;
}

.ingredients-box summary {
    cursor: pointer;
    font-weight: 600;
    list-style: none;
}

.ingredients-box summary::-webkit-details-marker {
    display: none;
}

.ingredients-content {
    overflow: hidden;
    animation: collapse 0.3s ease forwards;
}

.ingredients-box[open] .ingredients-content {
    animation: expand 0.3s ease forwards;
}

.ingredients-box ul {
    margin-top: 8px;
    padding-left: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes collapse {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes expand {
    from {
        opacity: 0;
        transform: translateY(-5px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 700px) {
    .hero-image-wrapper {
        height: 500px;
    }
    .main-hero-recipe-container {
        padding-left: 20px;
    }
    .main-hero-recipe-container h1 {
        font-size: 2.2rem;
    }
    .recipe-title {
        font-size: 1.2rem;
    }
    .recipe-meta {
        font-size: 0.9rem;
    }
    .recipe-description {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .mainHero-container {
        padding: 15px;
    }
}