.mainHero-container {
    height: 100%;
    min-height: 150vh;
    /* width: 100%; */
    padding: 10px 100px;
    background-color: green;
    position: relative;
}

.main-hero-img {
    width: 100%;
    border-radius: 16px;
    height: 600px;
    max-height: 700px;
}