.weekly-plan-container {
    height: 100vh;
    padding: 20px 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 10px 0; */
}

.weekly-plan-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ff4141;
    position: relative;
    padding: 5px 0;
}

.weekly-plan-header::after {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff4141;
    animation: headerSlide 2s ease forwards;
}

.weekly-plan-day-selector {
    display: flex;
    justify-content: space-around;
}

.weekly-plan-day-selector p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.weekly-plan-day-selector p:hover {
    color: #ff4141;
}

.weekly-plan-day-selector p.active {
    color: #ff4141;
}

.recipe-plan-container {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.recipe-header {
    font-size: 1.8rem;
    color: #ff4141;
}

.recipe-font {
    font-size: 1rem;
}

.recipe-changer {
    padding: 5px 0;
    margin: 10px 0;
    background: white;
    border: 0;
    outline: none;
    color: #ff4141;
    cursor: pointer;
    font-size: 1rem;
}

@keyframes headerSlide {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}