.loader-btn {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 3px solid #3498db;
    border-top-color: white;
    margin: auto;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}