.register-container {
    width: 80vw;
    height: 80vh;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-form-container {
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.register-heading {
    font-size: 2rem;
    margin: 20px;
    color: #333;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.register-input-container {
    width: 100%;
    /* margin: 10px; */
    position: relative;
    display: flex;
    justify-content: center;
}

.register-input {
    width: 80%;
    padding: 15px 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.register-input:hover,
.register-input:focus,
.register-input:active {
    border: 1px solid #3498db;
    outline: none;
    color: #3498db;
}

.register-label {
    position: absolute;
    top: 10px;
    left: 40px;
    padding: 15px 10px;
    font-size: 0.9rem;
    color: #777;
    transition: 0.3s ease;
}

.register-input:hover + .register-label,
.register-input:focus + .register-label,
.register-input:active + .register-label,
.register-input:not(:placeholder-shown) + .register-label {
    transform: translate(8px, -20px);
    font-size: 0.8rem;
    color: #3498db;
    transition: 0.3s ease;
    padding: 10px;
    background-color: white;
}

.register-button {
    width: 80%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #db490a;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: bold;
    color: #db490a;
    cursor: pointer;
    margin: 20px 0;
    transition: 0.3s ease;
}

.register-button:hover {
    background-color: #db490a;
    color: white;
    transition: 0.3s ease;
}

.register-login-link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.register-login-link:hover {
    text-decoration: underline;
    transition: 0.3s ease;
}

.register-photo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

@media (max-width: 800px) {
    .register-form-container {
        width: 100%;
    }
    .register-photo-container {
        display: 90%;
        transition: 0.3s ease;
    }
    .register-label {
        left: 20px;
    }
}

@media (max-width: 600px) {
    .register-photo-container {
        display: none;
    }
    .register-label {
        left: 40px;
    }
}